* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #dbd7d6d7; }

header {
  position: sticky;
  top: 0%;
  z-index: 1; }
  header .navbar {
    padding: 0%; }
    header .navbar .headerbg {
      background-color: #dbd7d6d7;
      padding: 0; }
    header .navbar a {
      width: 70%;
      padding: 0; }
    header .navbar .logoImg {
      width: 25%; }
    header .navbar .aCenter {
      width: max-content;
      color: #2f522f; }
    header .navbar ul li {
      font-size: 2rem;
      font-family: 'Lilita One', cursive;
      color: #1f351f; }
    header .navbar .submenu__ul {
      background-color: #dbd7d6d7;
      border: none; }
      header .navbar .submenu__ul .submenu__a {
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        margin: 2% auto;
        color: #2f522f;
        width: fit-content;
        text-align: left; }

.bodyOscuro {
  background-color: #201e1e; }

.headerStatic {
  position: static; }

.galeria__h1 {
  font-family: 'Lilita One', cursive;
  text-align: center;
  font-size: 4.5rem;
  margin: 3%;
  letter-spacing: 0.1em; }

.fotos {
  grid-area: mainFotos;
  display: grid;
  grid-template-columns: 4 auto;
  grid-template-rows: 6 auto;
  grid-template-areas: "titulo1  titulo1 titulo1 titulo1" "foto1 foto1  foto2 foto3" "foto1 foto1  foto4 foto4" "titulo2 titulo2 titulo2 titulo2" "foto8 foto8 foto7 foto7" "foto8 foto8 foto5 foto6"; }

.fotos__titulo {
  width: 80%;
  grid-area: titulo1; }
  .fotos__titulo h2 {
    font-family: 'Lilita One', cursive;
    letter-spacing: 0.1em;
    padding: 4%;
    font-size: 3rem;
    text-align: left;
    width: 100%; }

.fotos__titulo2 {
  width: 80%;
  grid-area: titulo2; }
  .fotos__titulo2 h2 {
    width: fit-content;
    font-family: 'Lilita One', cursive;
    letter-spacing: 0.1em;
    font-size: 3rem;
    text-align: left; }

.fotos__uno {
  grid-area: foto1; }

.fotos__dos {
  grid-area: foto2; }

.fotos__tres {
  grid-area: foto3; }

.fotos__cuatro {
  grid-area: foto4; }

.fotos__cinco {
  grid-area: foto5; }

.fotos__seis {
  grid-area: foto6; }

.fotos__siete {
  grid-area: foto7; }

.fotos__ocho {
  grid-area: foto8; }

.fotos__uno, .fotos__dos, .fotos__tres, .fotos__cuatro, .fotos__cuatro, .fotos__cinco, .fotos__seis, .fotos__siete, .fotos__ocho {
  text-align: center;
  width: 100%; }

.fotoGaleria {
  width: 80%;
  height: 85%;
  opacity: 0.3; }

.fotoGaleria:hover {
  opacity: 1;
  width: 95%;
  transition: all 2s; }

.pedidos {
  background-image: url(../media/bar-adentro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 600px;
  margin: 3%;
  align-content: center; }
  .pedidos .pedidos__titulo {
    font-size: 3rem;
    color: whitesmoke;
    text-align: left;
    padding: 5%;
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif; }
  .pedidos .linkWhatsapp {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    text-align: right;
    padding: 5%; }
    .pedidos .linkWhatsapp a {
      text-decoration: none;
      color: whitesmoke;
      text-align: right; }

.pedidos__logo {
  width: 1.8rem; }

.contacto {
  display: flex;
  flex-direction: row; }
  .contacto .contacto__foto {
    margin: 5%;
    align-content: center; }
    .contacto .contacto__foto .fotoStaff {
      max-width: 100%;
      border-radius: 10px; }
  .contacto form {
    background-color: #1f351f;
    color: #E5E7E9;
    margin: 5%;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    border-left: white solid 1px;
    font-size: 1.30435rem;
    border-radius: 10px;
    padding: 3%; }

.contacto__titulo {
  background-color: #dbd7d6d7;
  color: #2f522f;
  margin: 3%;
  font-family: 'Lilita One', cursive;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 3rem; }

.inputAnimation {
  width: 6em;
  height: 1em;
  transition: all 2s; }

.inputAnimation:hover {
  width: 10em;
  height: 1.5em;
  font-size: 1em; }

footer {
  background-color: #1f351f;
  width: 100%; }
  footer .footer__titulo {
    padding-top: 2%;
    text-align: center;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif; }
  footer ul {
    padding-left: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer li {
    margin-top: 0%;
    margin: 2%;
    padding: 0;
    text-align: center; }
  footer .fab {
    color: white;
    font-size: 2rem; }
    footer .fab:hover {
      font-size: 3rem; }

.footer_light {
  background-color: #dbd7d6d7;
  color: #2f522f; }
  .footer_light .footer__titulo {
    color: #2f522f; }
  .footer_light .fab {
    color: #2f522f; }

body {
  background-color: #dbd7d6d7; }

.carousel {
  width: 100%;
  z-index: 0; }

.horaFeliz {
  background-color: #1f351f;
  padding: 10%; }
  .horaFeliz h2, .horaFeliz h3 {
    background-color: #1f351f;
    color: #E5E7E9;
    font-family: 'Lilita One', cursive;
    text-align: center;
    font-size: 3rem; }
  .horaFeliz h3 {
    text-transform: uppercase;
    font-size: 2.5rem; }

video {
  width: 100%;
  margin-bottom: 3%; }

.nosotros {
  padding: 5%;
  background-color: #dbd7d6d7;
  color: #2f522f;
  background-color: #dbd7d6d7;
  margin: 5%;
  margin-top: 13%;
  display: grid;
  grid-template-columns: 2 auto;
  grid-template-rows: 1 auto;
  grid-template-areas: "imagen texto";
  gap: 10%; }
  .nosotros .nosotros__img {
    width: 100%;
    grid-area: imagen; }
    .nosotros .nosotros__img img {
      width: 100%;
      border-radius: 5%; }

.nosotros__texto {
  grid-area: texto;
  font-family: 'Nunito', sans-serif; }
  .nosotros__texto h1, .nosotros__texto h2 {
    font-family: 'Lilita One', cursive; }

.restricciones {
  width: 85% auto;
  background-color: #dbd7d6d7;
  color: #2f522f;
  background-color: #dbd7d6d7;
  margin: 5%;
  padding: 5%;
  margin-top: 13%;
  display: grid;
  grid-template-columns: 2 auto;
  grid-template-rows: 1 auto;
  grid-template-areas: "textoRestricciones imgRestricciones";
  gap: 10%; }
  .restricciones .restricciones__img {
    grid-area: imgRestricciones; }
    .restricciones .restricciones__img img {
      width: 100%;
      border-radius: 5%; }
  .restricciones .restricciones__texto {
    grid-area: textoRestricciones;
    font-family: 'Nunito', sans-serif; }
    .restricciones .restricciones__texto h1, .restricciones .restricciones__texto h2 {
      font-family: 'Lilita One', cursive; }

.bodyMenu {
  background-color: #201e1e; }

.entradas, .pizzas {
  margin-top: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .entradas figure, .pizzas figure {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 10px 25px rgba(0, 0, 0, 0.5); }
    .entradas figure img, .pizzas figure img {
      width: 100%;
      height: 100%;
      transition: all 500ms ease-out; }
    .entradas figure .entradas__texto, .pizzas figure .entradas__texto, .pizzas figure .pizzas__texto {
      padding: 15%;
      text-transform: uppercase;
      color: whitesmoke;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(10, 18, 20, 0.7);
      opacity: 0;
      visibility: hidden; }
      .entradas figure .entradas__texto .entradas__titulo, .pizzas figure .entradas__texto .entradas__titulo, .pizzas figure .pizzas__texto .entradas__titulo, .pizzas figure .pizzas__texto .pizzas__titulo {
        font-family: 'Lilita One', cursive;
        letter-spacing: 0.1em;
        font-size: 3rem;
        padding: 2%;
        text-align: center; }
      .entradas figure .entradas__texto .entradas__ul, .pizzas figure .entradas__texto .entradas__ul, .pizzas figure .pizzas__texto .entradas__ul, .pizzas figure .pizzas__texto .pizzas__ul {
        padding: 1%;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        padding-left: 0;
        list-style: none;
        font-size: 1.66667rem; }
    .entradas figure:hover .entradas__texto, .pizzas figure:hover .entradas__texto, .pizzas figure:hover .pizzas__texto {
      opacity: 1;
      visibility: visible; }

.pizzas figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out; }

.pizzas figure .pizzas__texto {
  padding-top: 20%; }

.pizzas figure:hover .pizzas__texto {
  opacity: 1;
  visibility: visible; }

.burger {
  padding: 0%;
  text-align: center;
  background-color: #dbd7d6d7;
  font-family: 'Nunito', sans-serif;
  opacity: 0.5;
  margin-top: 10%;
  margin-bottom: 5%; }
  .burger .burger__titulo {
    font-size: 1.5rem; }
  .burger .burger__img {
    width: 100%;
    border-radius: 2%; }
  .burger .burger__text .burger__ul {
    list-style: none;
    padding-left: 0%; }
  .burger:hover {
    opacity: 1;
    width: 24rem;
    transition: all 2s; }

@media only screen and (max-width: 800px) {
  .headerbg {
    background-color: rgba(19, 41, 19, 0.748); }
  .horaFeliz h2 {
    font-size: 1.5rem; }
  .horaFeliz h3 {
    font-size: 1rem; }
  .nosotros {
    text-align: center;
    grid-template-columns: 1 auto;
    grid-template-rows: 2 auto;
    grid-template-areas: "imagen"  "texto";
    gap: 3%; }
    .nosotros .nosotros__img {
      border-radius: 5%; }
    .nosotros .nosotros__texto {
      text-align: center;
      margin: 3%;
      margin-bottom: 10%; }
  .restricciones {
    text-align: center;
    grid-template-columns: 1 auto;
    grid-template-rows: 2 auto;
    grid-template-areas: "imgRestricciones" "textoRestricciones"; }
    .restricciones .restricciones__img {
      border-radius: 5%;
      margin: 0% auto; }
    .restricciones .restricciones__texto {
      margin: 3%;
      margin-bottom: 20%; }
  .galeria__h1 {
    font-size: 2.30769rem; }
  .fotos {
    grid-template-columns: 1 auto;
    grid-template-rows: 10 auto;
    grid-template-areas: "titulo1" "foto1" "foto2" "foto3" "foto4" "titulo2" "foto5" "foto6" "foto7" "foto8"; }
  .fotos__titulo h2 {
    width: fit-content;
    font-size: 2rem;
    text-align: center; }
  .fotos__titulo2 {
    width: 100%; }
    .fotos__titulo2 h2 {
      width: fit-content;
      font-size: 2rem;
      text-align: center; }
  .pedidos__a {
    width: 70%;
    text-align: left; }
  .pizzas__ul {
    font-size: 0.5em; }
  .contacto__titulo {
    font-size: 1.5rem; }
  .contacto {
    flex-direction: column; }
    .contacto form {
      text-align: center;
      font-family: 1.11111rem;
      border-left: none; }
      .contacto form .textArea {
        width: 80%;
        margin: 2%; } }
