.gallery__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
    grid-auto-flow: dense;
    gap: 20px;
    padding: 2%;
    .gallery__img{
        width: 100%;
        
        img{
            width: 98%;
            filter: opacity(0.9);
        }
        &:hover{
            img{
                filter: opacity(1);
                transform: scale(1.04);
                transition: 2s;
            }
        }
    } 
   
    
}



  

