.carousel{
    width: 100%;
    z-index: 0;
}


.horaFeliz{
    background-color: $fondo4;
    padding: 10%;
    h2, h3{
        @include condicion ($fondo4);
        font-family: AmsiProNarw-Ultra;
        text-align: center;
        font-size: $fontSize;
    }
    h3{
        text-transform: uppercase;
        font-size: $fontSize/1.2;
    }
}

video{
    width: 100%;
    margin-bottom: 3%;
}

.nosotros{
    padding: 5%;
    @include condicion ($fondo3);
    background-color: $fondo3;
    margin:5%;
    margin-top: 13%;
    display:grid;
    grid-template-columns: 2 auto;
    grid-template-rows: 1 auto;
    grid-template-areas: 
    "imagen texto"
    ;
    gap:10%;
    .nosotros__img{
        width: 100%;
        grid-area: imagen;
       img{
           width: 100%;
           border-radius: 5%;

       }
    }

    

}

@mixin textosIndex ($gridArea) {
    grid-area: $gridArea;
    font-family: 'Nunito', sans-serif;
    h1, h2{
        font-family: AmsiProNarw-Ultra;
    }
}

.nosotros__texto{
    @include textosIndex(texto)

}

.restricciones{
    width: 85% auto;
    @include condicion ($fondo3);
    background-color: $fondo3;
    margin: 5%;
    padding: 5%;
    margin-top: 13%;
    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: 1 auto;
    grid-template-areas: 
    "textoRestricciones imgRestricciones"
    ;
    gap:10%;
    .restricciones__img{
        grid-area: imgRestricciones;
        img{
            width: 100%;
            border-radius: 5%;

        }
    }
    .restricciones__texto{
        @include textosIndex (textoRestricciones);
        
    }

}






