


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

$ancho: 720px; 
$fontSize: 3rem;



@import "colores";
@import "header";
@import "galeria";
@import "pedidos";
@import "formulario";
@import "footer";
@import "generales";
@import "index";
@import "menu";




@media only screen and (max-width: 800px){   

    .headerbg{
        background-color: $fondo5;
    }

    .horaFeliz{
        h2{
            font-size:$fontSize/2;
        }
        h3{
            font-size:$fontSize/3;
        }
    }
    .nosotros{
        text-align: center;
        grid-template-columns: 1 auto;
        grid-template-rows: 2 auto;
        grid-template-areas: 
        "imagen" 
        "texto"
        ;
        gap: 3%;
        .nosotros__img{
            border-radius: 5%;
        }
        .nosotros__texto{
            text-align: center;
            margin: 3%;
            margin-bottom: 10%;
        }
    }
    .restricciones{
        text-align: center;
        grid-template-columns: 1 auto;
        grid-template-rows: 2 auto;
        grid-template-areas: 
        "imgRestricciones"
        "textoRestricciones"
        ;
        .restricciones__img{          
            border-radius: 5%;
            margin: 0% auto;
        }
        .restricciones__texto{
            margin: 3%;
            margin-bottom: 20%;

        }
        
    }
    .galeria__h1{
        font-size: $fontSize/1.3;
    }

    .fotos {
        grid-template-columns: 1 auto;
        grid-template-rows: 10 auto;
        grid-template-areas:
            "titulo1"
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "titulo2"
            "foto5"
            "foto6"
            "foto7"
            "foto8"
        ;
    }

    .fotos__titulo{
        h2{
            width: fit-content;
            font-size: $fontSize/1.5;
            text-align: center;
        }
    }

    .fotos__titulo2{
        width: 100%;
        h2{
           width: fit-content;
           font-size: $fontSize/1.5;
           text-align: center;
        }
    }

    .pedidos__a{
        width: 70%;
        text-align: left;
    }
    .pizzas__ul{
        font-size: 0.5em;
    }

    .contacto__titulo{
        font-size: $fontSize/2;
    }
    .contacto{
        flex-direction: column;
        
        form{
            text-align: center;
            font-family: $fontSize/2.7;
            border-left: none;
            .textArea{
                width: 80%;
                margin: 2%;
            }

        }
    }
}




  

