


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

$ancho: 720px; 
$fontSize: 3rem;



@import "colores";
@import "header";
@import "galeria";
@import "pedidos";
@import "formulario";
@import "footer";
@import "generales";
@import "index";
@import "menu";

@media only screen and (max-width: 600px){   
    .horaFeliz{
        h2{
            font-size:$fontSize/2;
        }
        h3{
            font-size:$fontSize/3;
        }
    }
    .nosotros{
        text-align: center;
        grid-template-columns: 1 auto;
        grid-template-rows: 2 auto;
        grid-template-areas: 
        "imagen" 
        "texto"
        ;
        gap: 3%;
        .nosotros__img{
            border-radius: 5%;
        }
        .nosotros__texto{
            text-align: center;
            margin: 3%;
            margin-bottom: 10%;
        }
    }
    .restricciones{
        text-align: center;
        grid-template-columns: 1 auto;
        grid-template-rows: 2 auto;
        grid-template-areas: 
        "imgRestricciones"
        "textoRestricciones"
        ;
        .restricciones__img{          
            border-radius: 5%;
            margin: 0% auto;
        }
        .restricciones__texto{
            margin: 3%;
            margin-bottom: 20%;

        }  
    }
    .entradas{
        figure{
            .entradas__texto{
                padding: 2%;
                .entradas__titulo{
                    font-size: $fontSize/2.5;
                    padding: 0%;
                }
                .entradas__ul{
                    font-size: $fontSize/4;
                    padding: 0%;
                }    
            }
        }
    }
    .pizzas{
        figure{
            .pizzas__texto{
                .pizzas__titulo{
                    margin-top: 15%;
                }
            }
        }
    }
    
    .pedidos{
        .pedidos__titulo{
            text-align: center;
        }
        .linkWhatsapp{
            text-align: center;
        }
    }
    

    .contacto__titulo{
        font-size: $fontSize/2;
    }
    .contacto{
        flex-direction: column;
        form{
            text-align: center;
            font-family: $fontSize/3;
            margin:3%;
            border-left: none;
            .textArea{
                width: 80%;
                margin: 2%;
            }

        }
        input{
            font-size: $fontSize/2.5
        }
    }
    
   
    
}

@media only screen and (min-width: 600px){
    .wide{
        grid-column: span 2;
    }
    .tall {
        grid-row: span 2;
    }
    .entradas{
        figure{
            .entradas__texto{
                padding: 2%;
                .entradas__titulo{
                    font-size: $fontSize/1.5;
                    padding: 0%;
                    margin-top: 15%;
                }
                .entradas__ul{
                    font-size: $fontSize/3;
                    padding: 0%;
                }    
            }
        }
    }
    .pizzas{
        figure{
            .pizzas__texto{
                .pizzas__titulo{
                    margin-top: 20%;
                }
            }
        }
    }
    .contacto__titulo{
        font-size: $fontSize/2;
    }
    .contacto{
        flex-direction: column;
        form{
            text-align: center;
            font-family: $fontSize/3;
            margin:3%;
            border-left: none;
            .textArea{
                width: 80%;
                margin: 2%;
            }
        }
        input{
            font-size: $fontSize/2.5
        }
    }
}



@media only screen and (min-width: 1000px){  
    .wide{
        grid-column: span 2;
    }
    .tall {
        grid-row: span 2;
    }
    .entradas{
        figure{
            .entradas__texto{
                padding: 2%;
                .entradas__titulo{
                    font-size: $fontSize/1.4;
                    padding: 0%;
                    margin-top: 10%;
                }
                .entradas__ul{
                    font-size: $fontSize/2;
                    padding: 0%;
                }    
            }
        }
    }
    .pizzas{
        figure{
            .pizzas__texto{
                .pizzas__titulo{
                    margin-top: 20%;
                }
            }
        }
    }
    .contacto__titulo{
        font-size: $fontSize/1.3;
    }
    .contacto{
        flex-direction: row;
        form{
            text-align: left;
            font-family: $fontSize/3;
            margin:3%;
            border-left: none;
            .textArea{
                width: 80%;
                margin: 2%;
            }
    
        }
        input{
            font-size: $fontSize/2.5
        }
    }
    
}    




  

